
<header>
    <h1 class="mt-3">Notes - сервис ведения заметок</h1>
    <hr>
    <nav class="navbar navbar-light justify-content-between mt-3">
        <a class="navbar-brand" href="/">Notes</a>
            {% if current_user.is_authenticated %}
            <span class="nav-item">
                <a class="" href="{{ url_for('note.note_all') }}">Мои заметки</a>
            </span>
            <span class="nav-item">
                <a class="" href="{{ url_for('note.note_create') }}">Создать</a>
            </span>
            <span class="nav-item">
                <a class="" href="{{ url_for('upload.get_upload_page') }}">PDF хранилище</a>
            </span>
            {% endif %}
            <span class="nav-item">
                <a class="btn btn-outline-secondary" href="{{ url_for('auth.register') }}">Зарегистироваться</a>
                {% if current_user.is_authenticated %}
                    <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">Выйти</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for('auth.login') }}">Войти</a>
                {% endif %}
            </span>
    </nav>
    <hr>
</header>